handleOAuthLogin should handle Chinese characters

According to https://github.com/koajs/koa/issues/740

Valid HTTP header values (including cookies) are defined in RFC 7230 Section 3.2 to only include a limited selection of ASCII characters (not including Chinese characters).

But
```js
const handleOAuthLogin = async ctx => {
  let user = null
  const error = {}

  try {
    user = await oAuthLogin({ ...ctx.query, oauthName: ctx.params.name })
  } catch (err) {
    ctx.app.emit('error', err)
    Object.assign(error, {
      status: err.code,
      reason: err.statusText,
      message: err.message,
    })
  }

  if (!isEmpty(error) || !user) {
    ctx.body = error
    return
  }

  ctx.cookies.set('token', user.token)
  ctx.cookies.set('expire', user.expire)
  ctx.cookies.set('refreshToken', user.refreshToken)

  if (user.username === 'system:pre-registration') {
    ctx.cookies.set('defaultUser', user.extraname)
    ctx.cookies.set('defaultEmail', user.email)
    return ctx.redirect('/login/confirm')
  }

  ctx.redirect('/')
}
```

`user.extraname` could be Chinese characters，it will cause TypeError



/assign